<h2>Courses</h2>

<div id="courses">
  <table>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>ID</th>
      <th>Semester</th>
      <th>Year</th>
      <th>More Info</th>
    </tr>
    <%= render "courses/course", student: @student %>
  </table>
</div>